@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

.calendarsec {
  display: none;

}


.timeh h1 {
  color: white;
  text-align: center;
  font-weight: 900;
  font-size: 60px;
  font-weight: 2000;
  margin-top: 15vh;
  margin-bottom: 15vh;
  font: 50px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;

}

.timeh h1:before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative pos
  itioning must be applied to the parent */
  top: 37px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  z-index: -1;
}

.timeh h1 span {
  /* to hide the lines from behind the text, you have to set the background 
  color the same as the container */
  background: rgba(23, 28, 40, 255);
  padding: 0 5px;
}

@media (max-width: 713px) {
  .timeh h1:before {
    width: 50%;
  }
}

@media (max-width: 500px) {

  .timeh h1:before {
    width: 50%;
  }
}


.containerc {

  display: flex;
  height: max-content;
  width: 100%;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

}

.containerc::after {
  content: "";
  display: block;
  height: 50px;
}

.weekdays {

  padding: 16px;
  background: white;
  border-radius: 24px;
  display: flex;
  width: 91%;
  flex-wrap: wrap;
  font-weight: bold;
  justify-content: space-between;
  margin-left: 30px;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;

}

.days div {
  font-size: 1rem;
  padding: 46px;
  width: calc(40.2rem / 7);
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.days div:not(.null):hover {
  display: block;
  width: -30px;
  background: whitesmoke;
  opacity: 0.7;
  color: black;
  height: 110px;


}

.event h2 {
  margin-right: 50px;
}

.event h3 {
  font-weight: bold;
  font-size: 24px;
  margin-left: 257px;
  margin-top: -70px;
}

.days next-date {
  opacity: 0.2;
}

h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

.month {
  text-align: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.date h1 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 50px
}

.date p {
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: -50px;
  padding: 20px;
}


.calendar {
  padding: 50px;
  background: rgb(221, 213, 213);
  border-radius: 24px;
  display: flex;
  width: 750px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  height: auto;
  padding-top: 0px;
}


.calendar h2 {
  flex: 1 100%;
  padding: 15px;
  text-align: center;

}

.calendar span {
  width: calc(100% / 14);
  display: block;
  margin: calc(100% / 28);
  padding: calc(100% / 56) calc(100% / 28);
  border-radius: 100px;
  text-indent: -7.5px;
  text-align: center;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}

.calendar span:not(.null):hover,
.calendar span:not(.null)[data-selected] {
  background: #bbd2ff;
  color: #05f;
}





.app {
  display: flex;
  height: 100vh;
  overflow: auto;
}

.today {
  background: whitesmoke;
  color: black;
  text-align: center;
  align-items: center;
  display: block;
  justify-content: center;
  height: -20px
}



.prev-date {
  opacity: 0.2;
}

.next-date {
  opacity: 0.2;
}

.events {
  width: 400px;
  background-color: rgb(221, 213, 213);
  margin-top: 150px;
  border-radius: 24px;
  height: 400px;
  margin-right: 120px;
  margin-left: 90px;
}

.events h1 {
  font-size: 50px;
  margin-top: 100px;
  margin-left: 100px;
  padding: 40px 20px 0;
}

.time {
  margin-left: 15px;
}

.events h2 {
  font-size: 25px;
  margin-left: 90px;
  margin-bottom: 40px;
}





.link {
  background: black;
  border: 2px solid black;
  font-size: 25px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  color: white;
  width: 150px;
  margin-right: 100px;
  margin-top: 40px;
  margin-bottom: -10px;
  height: 47px;
  border-radius: 24px;


  margin-left: 121px;

  text-decoration: none;
}


.btn {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 950px) {
  .calendarsec {
    display: block;
  }
}