@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
}
#nav-text {
  font-size: 1.2rem;
  margin-left: 1rem !important;
  font-weight: 100 !important;
}
#JO {
  font-weight: bold ;
}
#SC {
  font-weight: lighter;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgba(23,28,40);
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}


a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: grey !important;
}

a:active {
  text-decoration: none;
  color: white;
}
.top-navbar {
  background-color: #020202;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.top-navbar a {
  color: #ffffff;
  margin: 0.3rem 0.8rem;
}

.top-navbar a span {
  position: relative;
  padding-bottom: 0.33rem;
  font-size: 1rem;
}

.top-navbar a span::before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: #ffffff;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -o-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  transition: transform 0.3s;
}

.top-navbar a:hover>span::before {
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  
}

.top-navbar .non_active:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
  -o-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
}

.top-navbar button {
  display: none;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: transparent;
  padding: 0px 12px;
  color: #ffffff;
  border: none;
  -webkit-tap-highlight-color: transparent;
}


.top-navbar button:focus {
  outline: none;
}



.top-navbar .nav-items {
  display: flex;
  align-items: center;
}

.top-navbar .nav-items a {
  font-size: 1.2rem;
}
.top-navbar .open-menu {
  z-index: 10;
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  right: 0px;
  top: 3.1rem;
  background-color: #020202;
  box-sizing: border-box;
}
.top-navbar .open-menu a {
  margin: 0px;
  padding: 14px 0px;
  width: 100%;
  text-align: center;
  border-bottom: #ffffff40 solid 1px;
}
.top-navbar .open-menu a:hover {
  background-color: #ffffff10;
}
#is_active {
  margin-top: 0.5rem;
  padding-bottom: 0.17rem;
  font-size: 1.1rem;
  border-bottom: 2px solid white;
}
.row .col-md-2 .box {
  width: 100%;
  height: 160px;
  border: 4px solid #ffffff;
  margin-top: 0.7rem;
}
.row .col-md-2 .box-3 {
  width: 100%;
  height: 140px;
  border: 4px solid #ffffff;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.row .col-md-2 .box-4 {
  width: 100%;
  height: 180px;
  border: 4px solid #ffffff;
  margin-top: 0.7rem;
}
.row .col-md-2 .box-2 {
  width: 100%;
  height: 230px;
  border: 4px solid #ffffff;
}
.row .col-md-2 .box-2_1 {
  width: 100%;
  height: 230px;
  border: 4px solid #ffffff;
  margin-top: 0.7rem;
}
.row .col-md-4 .row .col-md-6 .box {
  width: 100%;
  height: 180px;
  border: 4px solid #ffffff;
  margin-top: 0.7rem;
}
.row .col-md-4 .row .col-md-6 #pic_year {
  margin-left: 0.8rem !important;
}
.row .col-md-2 {
  margin-right: -0.8rem;
}
.row .col-md-4 .box-1 {
  width: 102%;
  height: 376px;
  border: 2px solid #ffffff;
}
.row .col-md-4 .row .col-md-6 {
  padding: 0;
}
#row_2k18 {
  padding-top: 8rem !important;
}
.row .col-md-2 .box-2_2 {
  width: 100%;
  height: 281px;
  border: 4px solid #ffffff;
  margin-top: 0.7rem;
}

.gal_2 .col-md-2 .box-4 {
  width: 100%;
  height: 140px;
  border: 4px solid #ffffff;
  margin-top: 0.7rem;
}

.gal_2 .col-md-2 .box-2 {
  width: 100%;
  height: 270px;
  border: 4px solid #ffffff;
}

.gal_2 .col-md-4 .box-1 {
  width: 102%;
  height: 376px;
  border: 2px solid #ffffff;
  margin-top: -0.3rem;
  padding-bottom: 0.8rem;
}

.gal_2 .col-md-4 .row .col-md-6 .box {
  width: 100%;
  height: 184.8px;
  border: 4px solid #ffffff;
  margin-top: 0.7rem;
}
.content-section {
  border: 1px solid rgb(47, 48, 53, 0.8);
  overflow: auto;
}

::-webkit-scrollbar {
  width: 1rem;
  background-color: black;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;

}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5rem;
  border-radius: 5rem;
  background: white;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 1);
}
@media screen and (max-width: 750px) {
  .top-navbar button {
      display: inline-block;
  }
  .top-navbar .nav-items {
      display: none;
  }

  .top-navbar .nav-items a {
      font-size: 1.2rem;
  }
}
@media only screen and (max-width: 767px) {
  #row_2k18 {
    padding-top: 4rem !important;
  }

  img {
    height: 25rem !important;
  }
  .navbar-brand img {
    height: 2.5rem !important;
  }
  .row .col-md-4 .row .col-md-6 #pic_year {
    margin-left: 0rem !important;
  }
}


