@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

body{
	font-family: 'Roboto', sans-serif;
	max-width: 100%;
}
* {
	margin: 0;
	padding: 0;
}

/*----------multi-level-accordian-menu------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color: rgba(23,28,40,255);
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: rgba(23,28,40,255);
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(23,28,40,255);
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}

.bi-list{
	color: white;
}



@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}

.logo{
	border-radius: 5px;
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}


/*HERO*/
#hero {
	width: 100%;
	height: 100vh;
	background: url("bg-1.png") top left;
	background-size: cover;
	position: relative;
  }
  #hero:before {
	content: "";
	background: rgba(255, 255, 255, 0.6);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
  }
  #hero .container {
	position: relative;
  }
  #hero h1 {
	margin: 0;
	font-size: 140px;
	font-weight: 700;
	color: rgba(23,28,120,255);
	font-family: "Poppins", sans-serif;
  }
  #hero h2 {
	color: rgba(23,28,100,255);
	margin: 5px 0 30px 0;
	font-size: 24px;
	font-weight: 400;
  }
  #hero .btn-get-started {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 28px;
	border-radius: 4px;
	transition: 0.5s;
	color: #fff;
	background: rgba(23,28,40,255);
	margin-left: 22%;
  }
  #hero .btn-get-started:hover {
	background: rgba(23,28,120,255);
	transform:scale(1.2,1.2);
  }

  .txtcon{
	  width: 90%;
	  margin-left: 28%;
  }
  .typetag{
	  width: 100%;
	  margin-left: -12%;
	  margin-right: 0;
  }
  
.tagline{
	color: rgb(8, 78, 243); 
	font-family: "rampart";
	font-size: 30px;
	white-space: nowrap;
	overflow: hidden;
	width: 90%;
	animation: type 10s steps(60, end); 
  }
  
  @keyframes type{ 
	from { width: 0; } 
  } 
  
  @keyframes type2{
	0%{width: 0;}
	50%{width: 0;}
	100%{ width: 100; } 
  } 
  
  
@media (max-width: 768px) {
	#hero {
	  height: 100vh;
	}
	#hero h1{
		font-size: 100px;
	}
	
	.txtcon{
		width: 90%;
		margin-left: 15%;
	}
	#hero .btn-get-started {
		margin-left: 20%;
	}
  }
  @media (max-width: 610px) {
	#hero h1{
		font-size: 75px;
	}
  }

  @media (max-height: 500px) {
	#hero {
	  height: 120vh;
	}
	#hero .btn-get-started {
		margin-left: 30%;
	}
	#hero h1{
		font-size: 60px;
	}
	.typetag{
		width: 70%;
	}
	
  }

  .top-text {
	align-items: center;
	justify-content: space-around;
	text-align: center;
	display: flex;
	font-family: 'Rampart One', cursive;
  }
  
  .bottom-text {
	display: flex;
	flex-direction: row;
	font-family: 'Rampart One', cursive;
  }
  .blast-text {
	font-weight: bold;
	display: flex;
	opacity: 1;
	font-size: 100px;
	margin-right: 20px !important;
	font-family: 'Rampart One', cursive;
  }
  
  .text {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	display: inline-block;
	color:  rgb(30, 92, 236);
	font-family: 'Rampart One', cursive;
  }
  
  .text:hover {
	color: rgb(23, 28, 40, 255);
	animation-name: rubberBand;
  }
  


  @keyframes rubberBand {
	from {
	  transform: scale3d(1, 1, 1);
	}
  
	30% {
	  transform: scale3d(1.25, 0.75, 1);
	}
  
	40% {
	  transform: scale3d(0.75, 1.25, 1);
	}
  
	50% {
	  transform: scale3d(1.15, 0.85, 1);
	}
  
	65% {
	  transform: scale3d(0.95, 1.05, 1);
	}
  
	75% {
	  transform: scale3d(1.05, 0.95, 1);
	}
  
	to {
	  transform: scale3d(1, 1, 1);
	}
  }
  
  
  @media only screen and (max-width: 650px) {
	.blast-text{
		font-size: 300px;
	}
}

  

  /*ABOUT */
  .aboutcon{
	  width: 85%;
	  margin-left: 8%;
  }

#about{
	background-color: rgba(23,28,40,255);
	color: #fff;
	padding-top: 15px;
	margin-left: 0;
}

  .about .row{
	  margin-top: 10px;
	  margin-bottom: 30px;
	  width: 90%;
  }

  .about-us h1{
	  text-align: center;
	  font-family: rampart;
	  font-weight: 900;
  font-size: 60px;
  }

  

  /*Activites*/
  .carousel-item>img{
	  height: 80%;
	  width: 80%;
	  margin-left: 10%;
	  border-radius: 10px;
  }

  .carousel-caption{
	  background: rgba(0,0,0,0.7);
	  border-radius: 30px;
	  height: 20vh;
  }

  .carousel-caption>h1{
	  margin-top:0;
	  margin-bottom: 0;
	  font-family: rampart;
	  font-weight: 900;
  font-size: 60px;
  }

  @media only screen and (max-width: 768px) {
	.carousel-item>img {
	  height: 110%;
	  width: 95%;
	  margin-left: 3%;
		
	}
}


  /*mentor*/
  .mentor{
	  max-width: 80%;
	  margin-left: 5%;
	  margin-top: 30px;
	  margin-bottom: 30px;
  }
  .mentor>h1{
	  margin-bottom: 10px;
	  color: white;
	  text-align: center;
	  font-family: rampart;
	  font-weight: 900;
  font-size: 60px;
  }
  .mentor .row .content h2{
	  color: white;
  }
  .mentorcon{
	  color: white;
  }
  .mentorimg{
	  height: auto;
  }
  

  