@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

/*----------multi-level-accordian-menu------------*/
.navbar-logo {
  padding: 15px;
  color: #fff;
}

.navbar-mainbg {
  background-color: rgba(23, 28, 40, 255);
  padding: 0px;
}

#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}

#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}

#navbarSupportedContent ul li a i {
  margin-right: 10px;
}

#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}

#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
  margin-bottom: 0;
}

#navbarSupportedContent > ul > li.active > a {
  color: rgba(23, 28, 40, 255);
  background-color: transparent;
  transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}

a.nav-link {
  padding: 0;
}

.blocks1 {
  padding: 0;
  margin-left: 7vw;
}

#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}

.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}

.hori-selector .right {
  right: -25px;
}

.hori-selector .left {
  left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(23, 28, 40, 255);
}

.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}

.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

.bi-list {
  color: white;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-expand-custom .navbar-toggler {
    display: none;
  }

  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

.logo {
  border-radius: 5px;
  margin-left: -100vw;
  margin-top: -20vh;
  margin-bottom: 10vh;
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }

  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }

  .hori-selector .left {
    top: -25px;
    left: auto;
  }

  .hori-selector .right {
    bottom: -25px;
  }

  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }

  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}
 @media (max-width: 991px) {
  .hori-selector{
    position: absolute;
    width: 100% !important;
    border-radius: 0%;
    margin-left: 10%;
  }
  
 
} 

/*HERO*/
#intro {
  position: absolute;
  width: 100%;
}

#hero{
  width: 100%;
  margin-top: 20vh;
}
#hero h1{
  margin-bottom: 8%;
}

.blocks{
  width: 50%;
  margin-left: 5%;
  margin-right: auto;
  color: white;
}

.blast-text {
  font-weight: bold;
  display: flex;
  opacity: 1;
  font-size: 100px;
  margin-right: 20px !important;
  font-family: "Rampart One", cursive;
  margin-top: -4vh;
}


.text {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  color: rgb(119, 178, 247);
  font-family: "Rampart One", cursive;
}

.text:hover {
  color: rgb(42, 245, 245);
  animation-name: rubberBand;
}
.glow-btn{
box-shadow: 0 0 60px 2px #79b3eb, 0.5rem 0.5rem 30px #13092d;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tx {
  width: 25%;
  background: rgb(112, 184, 252);
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 20px;
  padding: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  margin-left: 37%;
  transition: 1s ease;
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
  width: 200px;
  border-radius: 10px;
  margin-left: 7%;
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #fdfafa;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #848581;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
  border-radius: 10px;
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #fafafc;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: #0885fa;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
  border-radius: 10px;
}



@media (max-width: 992px) {
  #hero {
    height: 80vh;
    margin-top: 5vh;
    margin-left: 10%;
  }
  .blast-text{
    font-size: 70px;
  }

  .block0{
    margin-left: 5%;
  }
}


@media (max-width: 768px) {
  #hero {
    height: 80vh;
    margin-top: 17vh;
    margin-left: 1%;
  }
  .blast-text{
    font-size: 65px;
  }

  .block0{
    margin-left: 15%;
  }
 
  
}

@media (max-width: 576px) {
  #hero {
    height: 100vh;
    margin-top: 15vh;
    margin-left: 10%;
    margin-bottom: 0;
  }
  .blast-text{
    font-size: 40px;
  }

  .elfsight-app-a512dae2-91cf-4398-8322-384467e75e61{
    display: none;
  }

  .block0{
    margin-left: 15%;
    margin-top: 35%;
  }
  .tx {
    width: 30%;
  }
  #hero h1{
    margin-bottom: 10%;
  }
  #about{
    margin-bottom: -40%;
  }
  
  .bb{
    margin-left: 28% !important;
  }

  .llist1{
    margin-left: 380%;
  }
  .navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

 
  
}


/* #hero {
  width: 150vh;
  height: 60vh;
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  position: relative;
}

#hero h1 {
  margin-bottom: 0;
  margin-right: 25vw;
  font-size: 100px;
  font-weight: 700;
  color: rgba(23, 28, 120, 255);
  font-family: "Poppins", sans-serif;
}

#hero h2 {
  color: rgba(23, 28, 100, 255);
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}

.tx {
  width: 20%;
  background: rgb(112, 184, 252);
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 20px;
  padding: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 50px;
  cursor: pointer;
  margin-left: 20%;
  transition: 1s ease;
}

.tx:hover {
  background-color: rgba(44, 126, 250, 0.89);
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
}

#hero .btn-get-started:hover {
  background: black;
  transform: scale(1.2, 1.2);
  text-decoration: none;
}

.txtcon {
  width: 100%;
  margin-left: 28%;
}


.blocks {
  margin-left: -10vw;
}
.joinbtn {
  margin-top: 0;
  margin-left: 0;
}
@media (min-width: 949px) {
  .block1 {
    margin-left: -40vh;
  }
}

@keyframes type {
  from {
    width: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }

  50% {
    width: 0;
  }

  100% {
    width: 100;
  }
}

@media (max-width: 949px) {
  #hero h1 {
    height: 10vh;
  }
  .blast-text {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }

  #hero h1 {
    height: 10vh;
  }

  .txtcon {
    width: 90%;
    margin-left: 15%;
  }

  .blast-text {
    font-size: 50px;
  }

  #hero .btn-get-started {
    margin-left: 20%;
  }
}

@media (max-width: 610px) {
  #hero h1 {
    font-size: 75px;
  }

  #hero {
    width: 110%;
  }
  .logo {
    margin-left: -10vh;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }

  #hero .btn-get-started {
    margin-left: 30%;
  }

  #hero h1 {
    font-size: 60px;
  }

  .typetag {
    width: 70%;
  }
}

.top-text {
  align-items: center;
  justify-content: space-around;
  text-align: center;
  display: flex;
  font-family: "Rampart One", cursive;
}

.bottom-text {
  display: flex;
  flex-direction: row;
  font-family: "Rampart One", cursive;
}

.blast-text {
  font-weight: bold;
  display: flex;
  opacity: 1;
  font-size: 100px;
  margin-right: 20px !important;
  font-family: "Rampart One", cursive;
}

.text {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
  color: rgb(30, 92, 236);
  font-family: "Rampart One", cursive;
}

@media (max-width: 949px) {
  .text {
    font-size: 40px;
  }
}

.text:hover {
  color: rgb(23, 28, 40, 255);
  animation-name: rubberBand;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@media only screen and (max-width: 650px) {
  .blast-text {
    font-size: 300px;
  }
} */

/*ABOUT */
.aboutcon {
  width: 85%;
  margin-left: 8%;
}

#about {
  text-align: center;

  font-family: "Montserrat", sans-serif;

  background-color: rgba(23, 28, 40, 255);
  color: #fff;
  padding-top: 15px;
  margin-left: 0;
  line-height: 1.8;
  font-size: 20px;
}

.about .row {
  margin-top: 10px;
  margin-bottom: 30px;

  text-align: center;
}

.about-us h1 {
  text-align: center;
  letter-spacing: 3.5px;
  margin-top: 5vh;
  background-color: rgba(23, 28, 40, 255);
  font-weight: 900;
  font-size: 60px;
  font: 50px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;

}

.about-us h1:before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 38px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  z-index: -1;
}

.about-us h1 span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: rgba(23, 28, 40, 255);
  padding: 0;
}

@media (max-width: 713px) {
  h1:before {
    width: 50%;
  }
}

@media (max-width: 576px) {
  h1:before {
    width: 50%;
  }
  .about-us h1{
    margin-left: 26%;
    margin-bottom: 0px;
    margin-top: 40px;
  }
  .about h3{
    margin-left: 26%;
  }
  .about-us p{
    margin-left: -3%;
    width:130%;
  }

  .about .row{
    width: 120%;
    margin-left: -12%;
    margin-top: 10px;
    margin-bottom: -50px;
  }

  .abimg, .abimg2{
    margin-left: 10%;
    margin-top: -130px;
  }
  .abimg3 {
    margin-left: 10%;
  }


  .about .row p{
    margin-left: 1%;
    width:130%;
    margin-top: -30px;
  }
  .img-fluid{
    max-width: 120%;
  }
}

.img-fluid {
  border-radius: 15px;
  margin-top: 10vh;

}

.phd {
  color: #ffb500;
  padding: 0px 0px;
}

/*Activites*/

.carousel-item > img {
  height: 80%;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 7%;
  margin-top: 7%;
  border-radius: 10px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  height: 20vh;
}

.carousel-caption > h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 60px;
}

@media only screen and (max-width: 768px) {
  .carousel-item > img {
    height: 110%;
    width: 95%;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 576px) {
  .carousel-item > img {
    height: auto;
    margin-left: 10%;
  }
 

 
}

@media (min-width: 576px) {
  #myBtn {display: none;}
  }

/*mentor*/
.mentor {
  font-family: "Montserrat", sans-serif;
  padding-left: 5%;
  margin-top: -230px;
  margin-bottom: 30px;
  line-height: 2;
  font-size: 15px;
  width: 90%;
}

.mentor h1 {
  margin-top: 20vh;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  margin-left: 10vw;
  font-weight: 900;
  font-size: 50px;
}

.mentor .row .content h2 {
  color: white;
}

.mentorcon {
  color: white;
  width: 120%;
  font-size: larger;
}

.mentoring {
  margin-top: 10vh;
  height: auto;
  border-radius: 15px;
  width: 90%;
  margin-left: 10%;
}

.ug span {
  color: white;
}

.pg span {
  color: #ffb500;
}

.mentor h1 {
  font: 50px sans-serif;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  font-weight: 900;
}
.mentorcon h2 {
  text-align: center;
  margin-left: 43%;
}

.mentor .row .content h2 {
  margin-left: 15%;
}
.mentor h1:before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative pos
    itioning must be applied to the parent */
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  z-index: -1;
}

.mentor h1 span {
  /* to hide the lines from behind the text, you have to set the background 
    color the same as the container */
  background: rgba(23, 28, 40, 255);
  padding: 0 5px;
}

@media (max-width: 798px) {
  h1:before {
    width: 50%;
  }
  .row{
    margin-top: -10vh;
  }
}

@media (max-width: 576px) {
  h1:before {
    width: 50%;
  }
  .mentoring{
    margin-left: 19%;
    width: 100%;
  }
   .mentor h1{
    margin-left: 35%;
  } 
  .mentorcon{
    margin-left: 1%;
    width: 130%;
  }
  .mentor .row .content h2{
    margin-left: 40%;
  }
  
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}
/* #button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    z-index: 0;
  }

  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  } */

  .rm1{
    width: 100%;
    margin-top: -30px;
  }
  @media (min-width: 1024px){
  .ReadMore{
    display: none;
  }
}

@media (max-width: 576px){
  .more{
    margin-left: 35%;
  }
  .abimg2{
    display: none;
  }
  .ReadMore{
    margin-left: 50%;
    width: 32%;
    
  }
}

@media (max-width: 768px){
  .show_info{
    max-height: 100px;
    overflow:hidden;
  }
}

#mailid{
  margin-left: -60px;
}

