#particles-js {
  background-color: rgba(23, 28, 40, 255);
  height: max-content;
  width: 100%;
}

@media (max-width: 576px) {
  #particles-js{
    max-width: 120%;
  }
  .particles-js-canvas-el{
    width: 120% !important;
    height: 50vh !important;
   
  }
}
