@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background: rgba(23, 28, 40, 255);
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.row {
    max-width: 1200px;
    margin: 2rem auto;
}

header {
    height: 7rem;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
header h1{
    width: 30%;
    margin-right: 0;
    display: inline;
}
header h3{
    width: 20%;
    display: inline;
    margin-left: 60%;
}
header a{
    color: white;
}

.navbar-mainbg {
    background-color: rgba(23, 28, 40, 255);
    padding: 0;
    margin-left: 60% !important;
}

.main-timeline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.timeline {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white;
}

.horizontal-line {
    border: 8px solid white;
    background-color: white;
    width: 90%;
}

.main-timeline .timeline:nth-child(4n+2) .horizontal-line {
    border: 8px solid #ffb500;
    background: #ffb500;
}

.main-timeline .timeline:nth-child(4n+4) .horizontal-line {
    border: 8px solid #ffb500;
    background: #ffb500;
}

.timeline-year {
    margin-bottom: 2rem;
}

.timeline-year button {
    border: none;
    margin-top: 20px;
    border-radius: 24px;
    height: 40px;
    width: 110px;
    font-weight: bold;
    font-size: 1.4rem;
}

.main-timeline .timeline:nth-child(4n+1) .timeline-year button {
    background: #ffb500;
}

.main-timeline .timeline:nth-child(4n+1) .timeline-year button:hover {
    background: white;
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.main-timeline .timeline:nth-child(4n+2) .timeline-year button {
    background: white;
}

.main-timeline .timeline:nth-child(4n+2) .timeline-year button:hover {
    background: #ffb500;
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.main-timeline .timeline:nth-child(4n+3) .timeline-year button {
    background: #ffb500;
}

.main-timeline .timeline:nth-child(4n+3) .timeline-year button:hover {
    background: white;
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.main-timeline .timeline:nth-child(4n+4) .timeline-year button {
    background: white;
}

.main-timeline .timeline:nth-child(4n+4) .timeline-year button:hover {
    background: #ffb500;
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.timeline-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* .timeline-content ul{
    list-style-type:none;
    text-align: center;
} */
.timeline-content .event-btn {
    border: none;
    background: none;
    margin: 0.6rem 0.6rem;
    display: flex;
    justify-content: center;

}

.timeline-content .event-img {
    height: 10rem;
    border-radius: 25px;
    width: 99%;
}

.txt-ovr-img {
    position: relative;
    text-align: center;
    color: white;
    /* width: 100%; */
}

.txt-ovr-img .txt-img {
    width: 100%;
    position: absolute;
    font-size: 2rem;
    font-weight: bolder;
    top: 4rem;
    background-color:black;
    color: white;
    opacity: 0.7;

}

@media only screen and (max-width:998px){
    header h3{
        margin-left: 40%;
    }
}

@media only screen and (max-width:800px) {
    header {
        margin-top: 150px;
        margin-bottom: -40px;

    }
    
    header h3{
        margin-left: 40%;
    }

    .main-timeline {
        flex-direction: column;
    }

    .timeline {
        margin-top: 20%;
        width: 100%;
        justify-content: center;
    }

    .horizontal-line {
        width: 70%;
    }

    .timeline .timeline-content button:nth-child(3) {
        display: none;
    }

    .timeline .timeline-content button:nth-child(4) {
        display: none;
    }

    /* .timeline-content .event-img{
        width: 70%;
    } */
    .txt-ovr-img {
        width: 60%;
    }
}

@media only screen and (max-width:576px) {

    header h1{
        display: none;
    }
    
}