@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

.toim{
    margin-top: 100px;;
}

.main-team {
    height: 155vh;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    width: 90%;
    margin-bottom: 30px;
    margin-left: 2%;
}

.h1team {
    margin-top: 14vh;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    font-family: rampart;
    font-weight: 900;
    font-size: 50px;
    font: 50px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
   
}


.h1team:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative pos
itioning must be applied to the parent */
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    z-index: -1;
}

.h1team span {
    /* to hide the lines from behind the text, you have to set the background 
color the same as the container */
    background-color: rgba(23,28,40,255);
    padding: 0;
}



@media (max-width: 713px) {
    h2:before {
        width: 50%;
    }
}

@media (max-width: 500px) {

    h2:before {
        width: 50%;
    }
   
}

.main-team .carousel {
    position: relative;
    height: 600px;
}

.main-team h1 {
    text-align: center;
    color: #ffb500;
}

.bt-out {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    color: white;
    padding: 9px 24px;
    border-color: yellow;
    background-color: grey;
    text-decoration: none;
    cursor: pointer;
    margin-right: 100px;
}


.team-container {
    width: 100%;
    /*height: 100%;
    height: 800px;*/
    margin-left: 5=10vw;
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.imagebox {
    position: relative;
    width: 280px;
    height: 320px;
    overflow: hidden;
    margin: 19px;
    box-shadow: 5px 5px 15px rgb(51, 49, 49);

}

.imagebox img {
    padding: 2em;
    height: 20em;
    width: 100%;

}

.imagebox::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 0%;
    transform: skew(-40deg);
    transition: all 0.8s;

}

.imagebox:hover::before {
    left: -50%;
    width: 210%;
}

.team-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    font-family: 'Urbanist', sans-serif;

}

.imagebox:hover .team-content {
    transition: 0.5s;
    opacity: 1;

}

.team-content h3 {
    text-align: center;
    text-transform: uppercase;
    color: #ffb500;

}

.team-content h4 {
    color: white;
    text-decoration: overline;
    font-family: 'Urbanist', sans-serif;
}

.team-content ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.team-content ul li {
    margin: 15px 10px;
}

.team-content ul li a {
    text-decoration: none;

}

/* for icons*/
.team-content ul li a i {
    color: white;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    text-align: center;
    transform: translateY(250px);

}

.imagebox:hover .team-content ul li:nth-child(1) a i {
    transform: translateY(0px);
    transition: all 0.5s 0.3s;

}

.imagebox:hover .team-content ul li:nth-child(2) a i {
    transform: translateY(0px);
    transition: all 0.5s 0.4s;

}

.imagebox>span {
    color: black;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col:hover {

    color: white;


}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    align-items: center;
    height: 40px;
    width: 40px;
    margin-left: 9vw;

}

.team-container .row {
    width: 80%;
}

.carousel-inner.innerc {
    margin-left: 5vw;
}


.bbutton{
    width: 33%;
    background: rgb(112, 184, 252);
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 20px;
    padding: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 50px;
    cursor: pointer;
    margin-left: 37%;
    transition: 2s ease;
}

.bbutton:hover{
	background-color: rgba(44, 126, 250, 0.89);
	transform:scale(1.2,1.2);
    -webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
}
@media (max-width: 500px) {

    .bbutton {
        margin-left: 42%;
        margin-top: -20px;
        margin-bottom: -100px;
    }
   
}
/* .controls-top {
    text-decoration: none;
    border-top: 3px solid aliceblue;
} */

#team_heads {
    text-align: center;
    color: aliceblue;
    padding-right: 40px;
    padding-left: 25px;
    font-size: 1.5em;
    margin-right: 10px;
    border-right: 3px solid aliceblue;
}

#dp_heads {
    text-align: center;
    color: aliceblue;
    font-size: 1.5rem;
    padding-right: 19px;
    border-right: 3px solid aliceblue;
}

#members {
    text-align: center;
    color: aliceblue;
    font-size: 1.5rem;
}

.controls-top {
    text-decoration: none;

}

.bar {
    display: flex;
    justify-content: center;
    border-top: 3px solid aliceblue;
    list-style: none;
    margin-left: 7vw;
    padding: 0;
}

.bar li {
    list-style: none;
}

.bar li a {
    text-decoration: none;
    padding: 1rem;
}

.controls-top #team_heads:hover,
#dp_heads:hover,
#members:hover {
    text-decoration: none;
    color: brown;
}


@media only screen and (max-width: 768px) {
    .main-team h1 {
        text-align: center;
        color: rgb(238, 255, 0);
    }
    .h1team{
        margin-top: -10vh;
    }
    .main-team {
        height: 245vh;
    }
}

@media (max-width: 576px) {
    .bar {
        display: block;
        margin-left: 15%;
    }
    .toim{
        width: 130%;
    }

    #team_heads {
        border-right: none;
    }

    #dp_heads {
        border-right: none;
    }
    .h1team{
        margin-left: 4vh;
    }

    .bb{
        margin-left: 24%;
    }
    .controls-top{
        margin-top: 10vh;
    }
    .main-team {
        height: 295vh;
    }
    .team-container .row {
        margin-top: 0;
    }

}

@media (max-width: 1024px) {
    .main-team{
        height: 95vh;
    }
}

@media (max-width: 450px) {
    .main-team{
        height: 250vh;
    }
}

@media (max-width: 365px) {
    .main-team{
        height: 300vh;
    }
}
