@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
.main-team{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    width: 70%;
    margin-left: 12%;
    margin-bottom: 30px;
}
.h1team{
    text-align: center;
    color: white;
    margin-bottom: 0;
    font-family: rampart;
    font-weight: 900;
  font-size: 60px;
}
.main-team .carousel {
    position: relative;
    height: 600px;
}

.main-team h1{
    text-align: center;
    color:rgb(238, 255, 0);
}
  
.team-container{
    width: 100%;
    /*height: 100%;
    height: 800px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.imagebox{
    position: relative;
    width: 250px;
    height: 280px;
    overflow: hidden;
    margin: 19px;
    box-shadow: 5px 5px 15px rgb(51, 49, 49);
    
}
.imagebox img{
    height: 100%;
    width: 100%;

}
.imagebox::before{
    content: "";
    position: absolute;
    top: 0px;
    left: -100%;
    background-color:rgba(0 ,0 ,0, 0.7);
    height: 100%;
    width: 0%;
    transform: skew(-40deg);
    transition: all 0.8s;

}
.imagebox:hover::before{
    left: -50%;
    width: 210%;
}
.team-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    font-family: 'Urbanist', sans-serif;

}
.imagebox:hover .team-content{
    transition: 0.5s;
    opacity: 1;

}
.team-content h3{
    text-align: center;
    text-transform: uppercase;
    color:rgb(238, 255, 0);

}
.team-content h4{
    color: white;
    text-decoration: overline;
    font-family: 'Urbanist', sans-serif;
}
.team-content ul{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.team-content ul li{
    margin: 15px 10px;
}
.team-content ul li a{
    text-decoration: none;
    
}
/* for icons*/
.team-content ul li a i{
    color: white;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    width:50px ;
    text-align: center;
    transform: translateY(250px) ;
    
}
.imagebox:hover .team-content ul li:nth-child(1) a i{
    transform: translateY(0px) ;
    transition: all 0.5s 0.3s;

}
.imagebox:hover .team-content ul li:nth-child(2) a i{
    transform: translateY(0px) ;
    transition: all 0.5s 0.4s;

}
.imagebox>span{
    color: black;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    align-items: center;
    height: 40px;
    width: 40px;

}

.team-container .row{
    width: 80%;
}


@media only screen and (max-width: 768px) {
.main-team h1{
    text-align: center;
    color:rgb(238, 255, 0);
    font-size: smaller;
}
}