@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
#about{
	background-color: rgba(23,28,40,255);
	color: #fff;
	padding-top: 15px;
}

  .about .row{
	  margin-top: 10px;
	  margin-bottom: 30px;
    font-family: montserrat;
  }

  .about-us h1{
	  text-align: center;
  }
  
  #year, h4{
      color:#ffb500;
  }

  .image-stl{
    height: 18rem;
    width: 35rem;
  }

  @media only screen and (max-width: 576px) {
    .image-stl {
      height: auto;
      width: auto;
    }
  }